<form action="/student/delete/" method="post">
{% csrf_token %}
<ul>
{% for student in s %}
	{% if student.firstname != "" %}
	<li><a href="/student/{{ student.id }}/">{{ student.firstname }} {{ student.lastname }}</a> <input type="checkbox" name="student" value="{{ student.id }}" /></li>
	{% endif %}
{% endfor %}
</ul>
<input type="submit" name="delete" value="Delete Selected" />
</form>
<form action="/student/new/" method="get">
	{% csrf_token %}
	<input type="submit" value="new student" name="new" />
</form>
