<form action="/student/{{student.id}}/submit/" method="POST">
	{% csrf_token %}
First Name: <input type="text" value="{% if student.firstname %}{{ student.firstname }}{% endif %}" name="firstname"><br>
Last Name: <input type="text" value="{% if student.lastname %}{{ student.lastname }}{% endif %}" name="lastname"><br>
Grade: <select name="grade">
		<option value=""></option>
		<option value="Freshman"></option>
		<option value="Sophomore"></option>
		<option value="Junior"></option>
		<option value="Senior"></option>
		<option value="Graduate"></option>
<input type="submit" value="Save Info" />
</form>
