<form action="/course/{{course.id}}/submit/" method="post">
    {% csrf_token %}
    Name: <input type="text" name="name" value="{{course.name}}" ><br>
    Professor:
    <select name="professor">
        <option value="" />
        {% for p in professors %}
            {% if p.firstname != "" or p.lastname != ""%}
                <option value="{{p.id}}" {% if professor and p.firstname==professor.firstname and p.lastname==professor.lastname%}selected="selected"{% endif %}>
                    {%if p.firstname !="" %}
                        {{p.firstname}}
                        {% if p.lastname !="" %}
                             
                         {%endif%}
                    {%endif%}
                    {% if p.lastname !="" %}
                        {{p.lastname}}
                    {% endif %}
                </option>
            {% endif %}
        {%endfor%}
    </select>
</form>