<form action="/course/submit/" method="POST">
    {% csrf_token %}
    <table border="1">
        <tr>
        <td>Name</td>
        <td>Professor</td>
        </tr>
        {% for course in courses %}
            {% if course.name != "" %}
                <tr>
                    <td>
                        <a href="/course/{{course.id}}/">{{ course.name }}</a>
                    </td>
                    <td>
                        {{ course.professor }}
                    </td>
                </tr>
            {% endif %}
        {%endfor%}
    </table>
    <input type="submit" value="new course" name="new" />
</form>