<form action="/course/{{pk}}/notes/new/" method="POST">
    {% csrf_token %}
    <table border="1">
        <tr>
        <td>Name</td>
        <td>Delete</td>
        </tr>
        {% for note in notes %}
            {% if note.name != ""%}
                <tr>
                    <td>
                        <a href="/course/{{pk}}/note/{{note.num}}/">
                            {{note.name}}
                        </a>
                    </td>
                    <td>
                        <input type="checkbox" name="note" value="{{ note.num }}" />
                    </td>
                </tr>
            {% endif %}
        {%endfor%}
    </table>
    <input type="submit" value="new note" name="new" />
</form>