<form action="/professor/submit/" method="post">
    {% csrf_token %}
    <table border="1">
        <tr>
            <td>Name</td>
            <td>Department</td>
        </tr>
        {% if p %}
            {% for prof in p %}
                <tr>
                    <td>{% if prof.firstname %}{{ prof.firstname }}{% if prof.lastname %} {% endif %}{% endif %}{% if prof.lastname %}{{ prof.lastname }}{% endif %}</td>
                    <td>{% if prof.department %}{{ prof.department }}{% endif %}</td>
                </tr>
            {% endfor %}
        {% endif%}
    </table>
    <input type="submit" value="new professor" name="new" />
</form>